# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Editor folders
.vscode/
.idea/
